page-info {
  .scroll-content {
    background: url(file:///android_asset/www/assets/infobg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  ion-card{
    //width:100%;
    //margin:0;
    margin-top:50%;
    height:57%;
    //margin-top:90%;
  }
  .card-ios{
    //width:100%;
    //margin:0;
    margin-top:40%;
    height:57%;
    //margin-top:90%;
  }
  .card-md{
    //width:100%;
    //margin:0;
    height:57%;
    margin-top:60%;
    //margin-top:90%;
  }
  .logo{
    height:40%;
    text-align:center;
    padding-top:30px;
  }
}
