page-inquiry {
  .theGallery{

    width: 100%;

    img{
      float:left;
      width: 32%;
      padding: 3px;
      -webkit-border-radius: 5%;
      margin: 2px;
      border: 1px solid #eee;
    }
  }


}
